version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '04:00'
      timezone: 'Europe/Paris'
    open-pull-requests-limit: 4
    target-branch: 'main'
    labels:
      - 'dependencies'
    groups:
      mantine:
        patterns:
          - '@mantine/*'
      react:
        patterns:
          - '@types/react'
          - '@types/react-dom'
          - 'react'
          - 'react-dom'
      react-router:
        patterns:
          - '@react-router/*'
      vitest:
        patterns:
          - '@vitest/*'
          - 'vitest'
