
.cardContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 40vh;
}

.cardContainer .card {
  position: absolute;
  width: 80px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: 50% 100%;
  transform: rotate(calc(var(--i) * 0.5deg)) translate(calc(var(--i) * 15px), 0px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.cardContainer .card:hover {
  translate: calc(var(--i) * 1px) -25px;
  z-index: 100;
}
