name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  checks:
    name: Checks
    permissions:
      contents: read
      statuses: write
    uses: ./.github/workflows/build.yml
    with:
      run-checks: true
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
