name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  checks:
    name: Checks
    permissions:
      contents: read
      statuses: write
    uses: ./.github/workflows/build.yml
    with:
      run-checks: true

  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Review dependencies
        uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803 # v4
