name: CI

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    permissions:
      contents: read
      statuses: write
    uses: ./.github/workflows/build.yml
    secrets: inherit
